@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo gris oscuro para toda la app */
body {
  background-color: #2a2a2a; /* Gris oscuro */
  color: white; /* Texto blanco para contraste */
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

/* Ajustamos el estilo del contenedor principal */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para las cartas de contenido */
.card {
  background-color: #333333;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Otros estilos generales */
h1, h2, h3 {
  color: #fff;
}

